<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.popdq.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <permission
        android:name="com.popdq.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.popdq.app.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="04a8e15e4d8e7e1dd28d6b75239d66dbfa8ab452" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider187773938297743"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.LoginWithEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.ResetPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.EmailVerifiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ui.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.FavoriteListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContentQuestionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.popdq.com"
                    android:scheme="deeplinkapp" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="question_id" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BuyCreditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyInterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AskExpertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExpertProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AskActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.MyQuestionActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- <activity android:name="com.soundcloud.android.crop.CropImageActivity" /> -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.BaseQuestionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProvideQuestionActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProvideAnswerByTextActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProvideUpdateAnswerByTextActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViewAnswerTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProvideAnswerByVoiceActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.ProvideAnswerByVideoActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.RecordingService" />

        <activity
            android:name=".ui.ViewAnswerVoiceRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TestCameraActivity"
            android:screenOrientation="portrait" />

        <!-- android:configChanges="orientation|keyboardHidden|screenLayout|screenSize" -->
        <activity
            android:name=".ui.ViewAnswerVideoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            />
        <activity
            android:name=".ui.MyAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InsertProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".ui.BuyCreditActivityBackup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.MyPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name=".ui.NoticeForgetPassActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.popdq.app" />
            </intent-filter>
        </receiver>

        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".ui.UserProfileActivity"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name=".ui.OrtherUserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TransactionViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectCategoryHasSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchByCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawalPaypalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WithdrawalBankActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UserProfileTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WebViewActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <data android:scheme="popdq" android:host="open" />
                <data android:scheme="https" android:host="kwqu.app.link" />
                <data android:scheme="http" android:host="kwqu.app.link" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!--<intent-filter android:autoVerify="true"-->
                <!--tools:ignore="UnusedAttribute">-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="popdq" android:host="kwqu.app.link" android:pathPrefix="/READ_FROM_DASHBOARD" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".ui.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PopupNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AZGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".AZDirectoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".ui.ListViewerActivity" />
        <activity android:name=".ui.ChangePasswordActivity" />
        <activity android:name=".ui.Main2Activity"  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
    </application>

</manifest>